*{box-sizing: border-box;}

body{
    margin-top: 0;
}
.wrapper{
    max-width: 320px;
    font-family: 'Lora', sans-serif;
    margin: auto;
    color: #06840b;
}

header{
    border-bottom: 5px solid #06840b; 
}
 h1{
    text-align: center;
    background-color: #06840b;
    color:  white;
    padding: 30px;
    text-transform: uppercase;
    font-size: 20px;margin-top: 0;
}
header > h2,
header > p{
    text-align: center;
    margin: 0 15px 30px 15px;
}
header > p {
    color: #aca6a6;
}

.content,
.asideCont{
    border-top: 2px solid #06840b;
    margin-top: 5px;
}

input, 
textarea,
select{
    background: #f2f2f2;
}

.mainCont > input,
.mainCont > select{
    border: none;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
    width: 320px;
}
.mainCont > input[id="zip_code"]{
    margin-bottom: 20px;
    width: 100px;
    text-align: center;
}

.asideCont > .titleLabel,
.asideCont > button{
    margin-bottom: 10px;
    margin-top: 20px;
}
.asideCont > button{
    padding: 15px;
    font-size: 20px;
    background-color: #53bab3;
    color: white;
    border-radius: 5px;
    border: none;
}
.asideCont > h2{
    margin-bottom: 0;
}
.asideCont > textarea {
    border-radius: 5px;
    height: 100px;
    border: none;
}

input[placeholder]{
    text-align: right;
}

form{
    max-width: 320px;
}
footer{
    margin: auto;
    font-style: italic;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
  transition-property: background-color;
  transition-duration: 1s;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus{
    border: solid 2px black;
    padding: 10px;
    text-align: left;
    background-color: #06840b;
    color: white;
    
}

/* Flex */

.mainCont,
.asideCont{
    display: flex;
    flex-wrap: wrap; 
}

.mainCont{
    flex-direction: column;
}

.asideCont > input[type="checkbox"],
.asideCont > input[type="radio"]{
    flex: none;
    margin-bottom: 10px;
}

.asideCont > label[for="html"],
.asideCont > label[for="css"],
.asideCont > label[for="javascript"],
.asideCont > label[for="plain"],
.asideCont > label[for="radioHtml"]{
    flex-basis: 250px; 
}

.asideCont > label,
.asideCont > input,
.asideCont > textarea,
.asideCont > button{
    flex-basis: 320px;
    margin-left: 20px;
}

/* MEDIA QUERY */

@media (min-width: 768px){
    .wrapper {
        max-width: 100vw;
    }
    
    header,
    .content,
    h2,
    header > p{
        width: 500px;
        margin: auto;
        
    }
    header {
        padding-bottom: 20px;
        margin-bottom: 5px;
    }
    
    h1 {
        height: 50px;
        padding: 10px;
        margin-bottom: 50px;
    }
    h2 {
        margin-bottom: 20px;
        margin-top: 40px;
    }
    
    .mainCont,
    .asideCont{
        width: 500px;
        flex-direction: row;
    }
    
    .asideCont > input {
        margin-left: 0;
        margin-right: 10px;
    }
    
    .asideCont > label,
    .asideCont > textarea,
    .asideCont > button{
        margin-left: 0;
        flex-basis: 500px;
    }
    
    .asideCont > label[for=" "]{
        flex-basis: 500px;
    }
    .asideCont > label[for="html"],
    .asideCont > label[for="css"],
    .asideCont > label[for="javascript"],
    .asideCont > label[for="plain"],
    .asideCont > label[for="radioHtml"]{
        flex-basis: 460px;
    }
    
    .mainCont > label {
        flex-basis: 150px; 
    }

    
}





















   























